<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<form
  action="https://app.convertkit.com/forms/1247930/subscriptions"
  class="seva-form formkit-form"
  method="post"
  data-sv-form="1247930"
  data-uid="96ad61fde1"
  data-format="inline"
  data-version="5"
  data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
  min-width="400 500 600 700 800"
>
  <div data-style="full" style="font-size: 0.9em">
    <h3 style="font-size: 1.17em; font-weight: 700">Newsletter</h3>
    <p>Sign up to hear when new linguistics courses open up.</p>
    <div data-element="column" class="formkit-column">
      <ul
        class="formkit-alert formkit-alert-error"
        data-element="errors"
        data-group="alert"
      ></ul>
      <div data-element="fields" class="seva-fields formkit-fields">
        <div class="formkit-field">
          <input
            class="formkit-input"
            aria-label="Your first name"
            name="fields[first_name]"
            placeholder="Your first name"
            type="text"
            style="
              padding: 0.2em;
              border-style: solid;
              color: rgb(139, 139, 139);
              border-color: rgb(221, 224, 228);
              font-weight: 400;
              margin-bottom: 0.4em;
              width: 100%;
            "
          />
        </div>
        <div class="formkit-field">
          <input
            class="formkit-input"
            name="email_address"
            aria-label="Your email address"
            placeholder="Your email address"
            required=""
            type="email"
            style="
              padding: 0.2em;
              border-style: solid;
              color: rgb(139, 139, 139);
              border-color: rgb(221, 224, 228);
              font-weight: 400;
              margin-bottom: 0.4em;
              width: 100%;
            "
          />
        </div>
        <button
          data-element="submit"
          class="formkit-submit formkit-submit"
          style="
            margin-top: 0.4rem;
            padding: 0.2em 0.4em;
            border-style: none;
            color: rgb(255, 255, 255);
            background-color: rgb(43, 108, 176);
            font-weight: 700;
            width: 100%;
          "
        >
          <span class="">Subscribe</span>
        </button>
      </div>
    </div>
  </div>
</form>
